h2 {
  text-align: center;
  margin: 2svh 0;
  font-size: 2rem;
  font-weight: 800;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  color: #4c4b4b;
}

.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}

.image-box {
  overflow: hidden;
  max-height: 300px;
}

.image-box img {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.image-box:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.product-description {
  text-align: center;
  padding: 0.5rem;
}

.product-description p {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 1;
}

.out-of-stock {
  color: #ffffff;
  background-color: red;
  position: absolute;
  bottom: 45%;
  left: -25%;
  font-size: 4rem;
  transform: rotate(-30deg);
  width: 450px;
  text-align: center;
}
