h2 {
  text-align: center;
  margin: 2svh 0;
  font-size: 2rem;
  font-weight: 800;
}

.sponsors {
  width: 100%;
  background-color: rgb(239, 153, 73);
}

.sponsors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.sponsor-card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.sponsor-card a {
  height: 150px;
}

.sponsor-card img {
  width: 150px;
  object-fit: fill;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.sponsor-card:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}